{% extends 'base.html.twig' %}

{% block title %}mise a jour d'une farine{% endblock %}

{% block body %}

    <h1>Mise a jour d'une farine</h1>
  
    Formulaire de mise a jour 

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Enregistrer</button>
{{ form_end(form) }}
{% endblock %}
